<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.instechrx.iniquiz.iniquiz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SoalSatuActivity" />
        <activity android:name=".SoalDuaActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".SoalKetigaActivity" />
        <activity android:name=".SoalKeEmpatActivity" />
        <activity android:name=".SoalKeLimaActivity" />
        <activity
            android:name=".SoalKeEnamActivity"
            android:label="@string/title_activity_soal_ke_enam"
            android:theme="@style/AppTheme" />
        <activity android:name=".SoalKeTujuhActivity" />
        <activity android:name=".SoalKedelapanActivity" />
        <activity android:name=".SoalKesembilanActivity" />
        <activity android:name=".SoalKesepuluhActivity" />
        <activity android:name=".SoalkesebelasActivity" />
        <activity android:name=".SoalKeduabelasActivity" />
        <activity android:name=".SoalKetigabelasActivity" />
        <activity android:name=".SoalKeempatbelasActivity" />
        <activity android:name=".SoalkelimabelasActivity" />
        <activity android:name=".ScoreActivity" />
    </application>

</manifest>